* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 5px 5px rgba(100, 100, 111, 0.2);
}

nav {
  display: flex;
  gap: 25px;
}

header a {
  text-decoration: unset;
  color: unset;
}

header a:hover {
  text-decoration: underline;
}

.product-card img {
  width: 200px;
  height: 200px;
}

.product-card {
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: 0 0 40px #176d65;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 50px;
  margin-right: 50px;
}

.product-detail img {
  width: 300px;
  height: 300px;
}

input[type="number"] {
  width: 70px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
  font-size: large;
}

.product-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 50%;
  justify-self: center;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-detail img,
.cart-item img {
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.product-detail-detail {
  border: 1px solid #E2E8F0;
  border-radius: 15px;
  padding: 40px;
}

.product-detail-description {
  border-top: 1px solid #E2E8F0;
  padding-top: 10px;
}

.product-detail div {
  margin: 50px;
}

button {
  border: none;
  background-color: #176d65;
  color: white;
  padding: 12.5px 25px;
  border-radius: 5px;
  font-size: medium;
}

.cart-item {
  padding: 10px;
  margin: 20px;
  display: flex;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.cart-item img {
  width: 200px;
  height: 200px;
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

@media (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.remove-item {
  background-color: red;
}

.cart-item img {
  margin-right: 20px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.home-container a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}